__pycache__
*.pyc
.pip/
.tox/
dist/
synapse-tools*.changes
synapse-tools*.dsc
synapse-tools*.tar.gz
src/build
src/debian/files
src/debian/synapse-tools
src/debian/synapse-tools.debhelper.log
src/debian/synapse-tools.substvars
src/synapse_tools.egg-info
dockerfiles/itest/itest_lucid/
dockerfiles/itest/itest_trusty/
src/debian/synapse-tools.postinst.debhelper
src/.cache/
